
<menu class="container-fluid bg-color_menu mt-0">
    <nav class=" container navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand text-light me-5 d-flex flex-row align-items-end" href="homeAdm.jsp">
                <img width="60px" src="assets/img/logo.png">
                <p>FÉRIAS & LAZER</p>
            </a>

            <div class="nav-item ">
                <img width="60" height="60" src="https://img.icons8.com/fluency/96/000000/user-male-circle--v2.png" alt="user-male-circle--v2"/>
                <a class="nav-link dropdown-toggle" href="index.jsp" role="button" >
                    SAIR
                </a>

            </div>

        </div>
    </nav>
</menu>